﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="MultiLoans.SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> Multiloans</title>

    <asp:PlaceHolder runat="server"></asp:PlaceHolder>
    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="Scripts/jquery.ui.touch-punch.min.js"></script>
    <link rel="shortcut icon" href="img/shortcut_icon.png">
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700%7cLora:400i%7cPoppins:500,600,700" rel="stylesheet">
    <!-- Bootstrap core CSS-->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plugins and Icon Fonts-->
    <link href="assets/css/plugins.min.css" rel="stylesheet">
    <!-- Template core CSS-->
    <link href="assets/css/template.min.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118956044-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-118956044-1');
</script>

</head>
<body data-spy="scroll" style="min-height: 100%;">
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
            </Scripts>
        </asp:ScriptManager>
        <script>
            jQuery(function ($) {

                checkCookie_eu();

                function checkCookie_eu() {

                    var consent = getCookie_eu("cookies_consent");

                    if (consent == null || consent == "" || consent == undefined) {
                        // show notification bar
                        $('#cookie_directive_container').show();
                    }

                }

                function setCookie_eu(c_name, value, exdays) {

                    var exdate = new Date();
                    exdate.setDate(exdate.getDate() + exdays);
                    var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
                    document.cookie = c_name + "=" + c_value + "; path=/";

                    $('#cookie_directive_container').hide('slow');
                }


                function getCookie_eu(c_name) {
                    var i, x, y, ARRcookies = document.cookie.split(";");
                    for (i = 0; i < ARRcookies.length; i++) {
                        x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                        y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                        x = x.replace(/^\s+|\s+$/g, "");
                        if (x == c_name) {
                            return unescape(y);
                        }
                    }
                }

                $("#cookie_accept a").click(function () {
                    setCookie_eu("cookies_consent", 1, 30);
                });

            });
        </script>
        <!-- Layout-->
        <div class="layout">

            <!-- Header-->
            <header class="header header-center undefined">
                <div class="container-fluid">
                    <!-- Logos-->
                    <div class="inner-header">
                        <a class="inner-brand" href="Default.aspx">
                            <img class="brand-dark" src="img/logo_webapp.png" width="200" alt=""><%--<img class="brand-light" src="5.png" width="77" alt="">--%>
                            <!-- Or simple text-->
                            <!-- Core-->
                        </a>
                    </div>
                    <!-- Navigation-->
                    <div class="inner-navigation collapse">
                        <div class="inner-navigation-inline">
                            <div class="inner-nav">
                                <ul>
                                    <li><a href="Default.aspx">Home</a></li>
                                    <li><a href="http://crm.multiloans.pl">Rejestracja</a></li>
                                    <li><a href="Contact.aspx">Kontakt</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Extra menu-->
                    <div class="extra-nav">
                        <ul>
                            <li><a class="open-offcanvas" href="#"><span>Menu</span><span class="fa fa-bars"></span></a></li>
                        </ul>
                    </div>
                    <!-- Mobile menu-->
                    <div class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
                </div>
            </header>
            <!-- Header end-->

            <!-- Wrapper-->
            <div class="wrapper">

                <asp:ContentPlaceHolder ID="Head" runat="server">
                </asp:ContentPlaceHolder>
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>

                <!-- Footer-->
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                           <%-- <div class="col-md-6 col-lg-3">
                                <!-- Text widget-->
                                <aside class="widget widget_text">
                                    <div class="textwidget">
                                        <p>
                                            <img src="assets/images/logo-light.png" width="100" alt="">
                                        </p>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut non enim eleifend felis pretium feugiat.</p>
                                        E-mail: <a href="mailto:support@core.com">support@core.com</a>
                                        <br />
                                        Phone: 8 800 123 4567
                                        <br />
                                        Fax: 8 800 123 4567
                                        <br />
                                    </div>
                                </aside>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <!-- Recent entries widget-->
                                <aside class="widget widget_recent_entries">
                                    <div class="widget-title">
                                        <h5>Recent Posts</h5>
                                    </div>
                                    <ul>
                                        <li><a href="#">Experience the sound of a modern and clean 360° Bluetooth Speaker.</a> <span class="post-date">May 8, 2016</span></li>
                                        <li><a href="#">Experience the sound of a modern and clean 360° Bluetooth Speaker.</a> <span class="post-date">April 7, 2016</span></li>
                                        <li><a href="#">Experience the sound of a modern and clean 360° Bluetooth Speaker.</a> <span class="post-date">April 7, 2016</span></li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <!-- Twitter widget-->
                                <aside class="widget twitter-feed-widget">
                                    <div class="widget-title">
                                        <h5>Twitter Feed</h5>
                                    </div>
                                    <div class="twitter-feed" data-twitter="345170787868762112" data-number="2"></div>
                                </aside>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <!-- Tags widget-->
                                <aside class="widget widget_tag_cloud">
                                    <div class="widget-title">
                                        <h5>Tags</h5>
                                    </div>
                                    <div class="tagcloud"><a href="#">Design</a><a href="#">Travel</a><a href="#">Startup</a><a href="#">Music</a><a href="#">Portfolio</a><a href="#">Responsive</a></div>
                                </aside>
                            </div>--%>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center"><span class="copyright">© 2018 Multiloans</span></div>
                                </div>
                               <%-- <div class="col-md-12" style="border-top: #888585; border-top-style: solid; border-top-width: 1px; margin-top: 20px; display: none; text-align: center" id="cookie_directive_container">

                                    <a href="#" type="button" class="close" style="color: #fff8f8 !important" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </a>
                                    <p class="text-muted credit">
                                        Korzystając z serwisu Multiloans akceptujesz <a href="/cookies">politykę plików cookie</a>
                                    </p>
                                </div>--%>
                            </div>
                        </div>

                     
                    </div>
                </footer>
                <!-- Footer end-->
                
        <div id="cookie_directive_container" class="container" style="display: none">
            <nav class="navbar navbar-default navbar-fixed-bottom">

                <div class="container">
                <div class="navbar-inner navbar-content-center" style="width:70%" id="cookie_accept">

                    <a href="#" class="btn btn-default pull-right">Close</a>
                    <p class="text-muted credit">
                      Korzystając z serwisu Multiloans akceptujesz <a href="/cookies">politykę plików cookie</a>.
                    </p>
                    <br>

                </div>
              </div>

            </nav>
        </div>
                <a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
            </div>
            <!-- Wrapper end-->

        </div>
        <!-- Layout end-->

        <!-- Off canvas-->
        <div class="off-canvas-sidebar">
            <div class="off-canvas-sidebar-wrapper">
                <div class="off-canvas-header"><a class="close-offcanvas" href="#"><span class="arrows arrows-arrows-remove"></span></a></div>
                <div class="off-canvas-content">
                    <!-- Text widget-->
                    <aside class="widget widget_text">
                        <%--<div class="textwidget">
                            <p class="text-center">
                                <img src="assets/images/logo-light.png" width="100" alt=""></p>
                        </div>--%>
                    </aside>
                    <!-- Text widget-->
                    <aside class="widget widget_text">
                        <div class="textwidget">
                            <p class="text-center">
                                <img src="img/logo_webapp_rev.png" alt="">
                            </p>
                        </div>
                    </aside>
                    <!-- Navmenu widget-->
                    <aside class="widget widget_nav_menu">
                        <ul class="menu">
                            <li class="menu-item menu-item-has-children"><a href="Default.aspx">Home</a></li>
                            <li class="menu-item"><a href="#">Rejestracja</a></li>
                            <li class="menu-item"><a href="Contact.aspx">Kontakt</a></li>
                        </ul>
                    </aside>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Off canvas end-->

        <!-- Scripts-->
        <%--   <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>--%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
        <script src="assets/js/plugins.min.js"></script>
        <script src="assets/js/charts.js"></script>
        <script src="assets/js/custom.min.js"></script>

        <!-- Color Switcher (Remove these lines)-->
        <%--<script src="assets/js/style-switcher.min.js"></script>--%>

    </form>
</body>
</html>
